/* all about book Additional stles */


.fadeBook{
    animation: fadeInAnimation 2s ease;
}
img{
    max-width: 100%;
    height: auto;
}
.book-cover{
    background-size: contain;
}

@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
